<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Restaurant catalogue for you" />
        <link rel="manifest" href="./app.webmanifest" />
        <meta name="theme-color" content="#0a0b0d" />
        <link rel="apple-touch-icon" href="/src/public/icons/192.png" />
        <link rel="icon" href="/src/public/icons/192.png" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link
            rel="apple-touch-startup-image"
            href="/src/public/icons/96.png"
            media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/src/public/icons/128.png"
            media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
        />
        <link
            rel="”apple-touch-startup-image”"
            href="/src/public/icons/144.png"
            media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/src/public/icons/152.png"
            media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/src/public/icons/192.png"
            media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/src/public/icons/388.png"
            media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
        />
        <link
            rel="apple-touch-startup-image"
            href="/src/public/icons/512.png"
            media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
        />
        <title>RestoX App</title>
    </head>

    <body>
        <a href="#mainContent" class="skip-link">Skip To Content</a>
        <nav>
            <div class="nav-container">
                <div class="nav-brand">
                    <picture>
                        <source
                            media="(max-width: 600px)"
                            width="110px"
                            srcset="/images/resto-small.jpg"
                        />
                        <img
                            src="./images/resto-large.jpg"
                            alt="logo RestoX"
                            width="110px"
                        />
                    </picture>
                </div>
                <button class="toggle-button" id="toggleButton">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"
                        />
                    </svg>
                </button>
                <ul class="nav-items" id="navItems">
                    <li>
                        <a class="nav-item" href="/">Home</a>
                    </li>
                    <li>
                        <a class="nav-item" href="#/favorite">Favorite</a>
                    </li>
                    <li>
                        <a
                            class="nav-item"
                            href="https://www.linkedin.com/in/achmad-rifqi-rosadi-86948119a/"
                            target="_blank"
                            >About Us</a
                        >
                    </li>
                </ul>
            </div>
        </nav>
        <main id="root"></main>
        <footer>
            <a href="#">Copyright © 2023 - RestoX</a>
        </footer>
    </body>
</html>
